#page {
    position: relative;
}
#header {
    background-color: blue;
    height: 150px;
    color: #efefef;
    font-size: 32px;
}
.headerText {
    position: absolute;
    left: 50px;
    top: 20px;
}
#content {
    background-color: yellow;
    height: 500px;
    font-size: 24px;
}
.contentBody {
    position: absolute;
}
.contentHead {
    padding-left: 50px;
}
.contentText {
  padding-left: 50px;
}
#footer {
    background-color: red;
    height: 150px;
    font-size: 32px;
    color: #efefef;
}
.footerText {
    position: absolute;
    padding-left: 50px;
}
@media screen and (max-width:600px) {
    #page {
        position: relative;
    }
    #header {
        background-color: yellow;
        height: 100px;
        color: rgb(0,0,0,0.3);
        font-size:24px;
    }
    .headerText {
        position: absolute;
        padding-left:50px;
    }
    #content {
        background-color: blue;
        height: 300px;
        font-size: 20px;
    }
    .contentBody {
        position: absolute;
    }
    .contentHead {
        padding-left: 50px;
    }
    .contentText {
      padding-left: 50px;
    }
    #footer {
        background-color: #efefef;
        height: 100px;
        font-size: 24px;
        color: aqua;
    }
    .footerText {
        position: absolute;
        padding-left: 50px;
    }
}