.ex2Div {
    position: relative;
    width: 600px;
    height: 300px;
}
.ex2ImgDiv {
    position: absolute;
    top: 250px;
    left: 150px;
    background-color: yellow;
    font-size: 24px;
    padding: 12px;
}
ul {
    list-style: none;
}
li {
    margin: 10px;
    padding: 10px;
    float: left;
}
a:hover {
    color: rgb(0,0,0,0.3);
}
.clear {
    clear: left;
}
.ex5Wrapper {
    position:relative;
}
.ex5Div1 {
    height: 250px;
    width: 250px;
    background-color: skyblue;
    position: relative;
}


.ex5Div2 {
    height: 250px;
    width: 250px;
    background-color: orangered;
    z-index: 1;
    position: absolute;
    left: 65px;
    top: 65px;
}
.ex6 {
    margin-top: 80px;
}
.container {
    border: 3px solid ;
    background-color: grey;
    padding: 10px;
}
.ex6Block {
    padding: 10px;
    border: 0.2px solid;
    color: #efefef;
}
.ex6Span {
    border: 0.2px solid;
    color: #efefef;
}
.ex7Block {
    background-color: deepskyblue;
    color: #efefef;
    padding: 5px;
    margin-top: 5px;
}
.ex7Span {
    background-color: red;
    color: #efefef;
    padding: 5px;
    margin-right: 5px;
    margin-top:5px;
}