@font-face {
    font-family:'Roboto';
    src: url(/project_two_css/fonts/Roboto-Regular.ttf);
}
body {
    width: 100%;
    height: auto;
    background: #F7F7F7;
    margin: 0 auto;
}
header {
    display: flex;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: #603601;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    margin: 0 auto;
    overflow: hidden;
}
.iCoffeeHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding-left:89.5px;
}
.logo1 {
    width: 30.625px;
    height: 35px;
    background: lightgray / cover no-repeat;
}
.iCoffeeText {
    color: #FFF;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 100% */
    letter-spacing: 2px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19.51px;
    align-self: stretch;
    color: #FFFFFF;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
}
.iCoffeeHeaderTwo {
    display: flex;
    padding: 5px 4.25px 5px 5px;
    gap: 10px;
    padding-right:89.5px;
}
.headIcon {
    color: #FFF;
    font-family: Font Awesome 5 Free;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px; /* 100% */
    text-decoration: none;
}
.intro {
    height: 500px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(/project_two_css/imgs/coffee_shop/coffee_background.jpg), lightgray  50%;
    background-size: cover;
    background-position: center center;
}

.introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}
.introText h1 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top:150px;
}
.introText p {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.introBtns {
    display: flex;
    padding: 0px 121.83px 0px 121.84px;
    justify-content: center;
    align-items: flex-start;
    gap: 7.3px;
}
.menuBtn {
    padding: 11.99px 30px 13.49px 30px;
    align-items: center;
    background-color: #C69B7B;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.orderBtn {
    padding: 11.99px 30px 13.49px 30px;
    align-items: center;
    background-color: #603601;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
section {
    width:80%;
    margin: 0 auto;
    background-color: #F7F7F7;
    padding: 30px 89.49px;
}
h2 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom:80px;
}
h2::before {
    content: '';
    width: 100px;
    height: 1px;
    background-color: #603601;
    display:block;
    position:relative;
    top: 80px;
    left: 710px;
}
h2::after {
    content: '';
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #603601;
    display:block;
    position:relative;
    top:29px;
    left: 743px;
}
.about-container {
    width: 100%;
    display:flex;
    gap: 0 40px;
    height: 450px;
}
.aboutImgContainer {
    background: url(/project_two_css/imgs/coffee_shop/about_background.jpg);
    width: 150%;
    height: 450px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.aboutHead {
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}
.aboutHeader {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 150% */
}
.aboutInfoText {
    color: #666;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 180% */
}
.aboutLink {
    text-decoration: none;
    padding: 12px 30.56px 13.48px 30px;
    background-color: #603601;
    color: #FFFFFF;
}
.services-container {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}
.service-item {
    padding:15px;
    background: #FFF;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    margin-right:20px;
    margin-bottom:20px;
}
.service-item-text {
    color: #666;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    width: 300px;
}
.service-item img {
    width: 300px;
}
.menu-btn {
    text-align: center;
}
.menu-btn button {
    border-radius: 30px;
    background: #603601;
    border: none;
    padding: 11px 25px 9.75px 25px;
    margin-right: 5px;
    cursor: pointer;
    color: #FFFFFF;
    position: relative;
    top: -15px;
}
.coffee {
    display: flex;
    flex-wrap: wrap;
}
.coffee h4 {
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.coffee p {
    color: #666;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.menu-item {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
    margin-right:20px;
    margin-bottom:20px;
    width: 300px;
    display: flex;
}
.menu-item p {
    width: 200px;
}
.price {
    color: #C69B7B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 30px;
    left: 55px;
}