body {
    font-family: sans-serif;
    text-align: center;
    background-color: #FFF6DC;
}
fieldset {
    width: 350px;
    margin: 10px auto;
    background-color: #ffffff;
    color: #474744;
    border: 2px solid #B2A4FF;
    border-radius: 8px;
}
h2 {
    font-weight: 500;
}
input,
textarea {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
    border-radius:5px;
}
.btn {
    width:100px;
    margin:10px 0;
    background-color: #B2A4FF;
    color: #ffffff;
    border:none;
    border-radius:10px;
}